.numberswrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1024px) {
    .numberswrapper {
        max-width: 50%;
        margin: 0 auto;
    }
}