span {
    display: inline-block;
    margin: .5em;
    background-color: white;
    width: 2em;
    border: solid lightgray 1px;
    border-radius: 5px;
    box-shadow: 2px 2px 6px black;
    cursor: pointer;
    /* display: inline-block;
    margin: .5em;
    text-align: center;
    background-color: #ccc;
    width: 24px;
    border-radius: 50%;
    cursor: pointer; */
}